* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: arial, sans-sarif;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
} */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: arial;
}

.container_whole {
    width: 100%;
}

.container {
    width: 1440px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.adjustment {
    height: 220px;
}

.margintop {
    margin-top: 40px;
}

.default_margin {
    margin-top: 85px;
}

/* ================ header ============ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999999;

    display: flex;
    height: auto;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/Bartop.png);
    background-size: cover;
    background-position-x: calc(100%);
    background-position-y: calc(100% - 25%);
    /* background-position: center center; */
    background-repeat: no-repeat;
}

.h-mdl img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* ============== search section start ============== */
.search_section {
    padding: 20px 40px;
}

.search_section form {
    display: flex;
    justify-content: space-between;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
    background-color: #a505ff;
}

.frm-lft {
    width: 162px;
    padding: 10px;
    position: relative;
}

.frm-lft select {
    display: block;
    padding: 10px 20px 10px 10px;
    width: 100%;
    border-radius: 10px;
    color: white;
}

.frm-lft .arrow-div {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.frm-lft .arrow-div :nth-child(1) {
    color: aliceblue;
}

.frm-lft .arrow-div :nth-child(2) {
    margin-top: -15px;
    color: aliceblue;
}




/* ============== section three =============== */

.common-section-change {
    display: flex;
    flex-direction: column;
}

.common-section-change h2 {
    background-image: url(../images/Barregis.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: calc(100%);
    background-position-y: calc(100% - 25%);
    border-radius: 10px 10px 0 0;
    color: aliceblue;
    padding-left: 10px;
    font-size: 18px;
}

.common-section-change img {
    display: block;
    object-fit: cover;

}

/* ============== footer ========== */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../images/Barunder.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 99999999;
}

.img_fluid {
    width: 100%;
    display: inline-block;
}

.playsection {
    position: relative;
}

.playsection :nth-child(2) {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-48%, -50%);
    width: 70%;
}

.playsection :nth-child(3) {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-48%, -50%);
    width: 45%;
}

.footer-first,
.footer-second,
.footer-third,
.footer-fourth {
    position: relative;
}

.footer-first :nth-child(2) {
    position: absolute;
    top: 55px;
    left: -7px;
}

.footer-second :nth-child(2) {
    position: absolute;
    top: 58px;
    left: -4px;
}

.footer-third :nth-child(2) {
    position: absolute;
    top: 35px;
    left: -2px;
}

.footer-fourth :nth-child(2) {
    position: absolute;
    top: 47px;
    left: -3px;
}

.registration img {
    position: absolute;
    left: 24px;
    top: 19px;
    background-image: url(../images/Barregis.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
}

/**
    media query css
*/
@media only screen and (max-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }

    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .container {
        width: 100%;
    }

    .registration img {
        position: absolute;
        left: 24px;
        top: 22px;
        background-image: url(../images/Barregis.png);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
    }
}

@media only screen and (max-width: 991px) {

    .container {
        width: 100%;
    }

    .registration img {
        position: absolute;
        left: 24px;
        top: 26px;
        background-image: url(../images/Barregis.png);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
    }
}

@media only screen and (max-width: 767px) {

    .container {
        width: 100%;
    }

    .registration img {
        position: absolute;
        left: 24px;
        top: 24px;
        background-image: url(../images/Barregis.png);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
    }
}

@media only screen and (max-width: 575px) {

    .container {
        width: 100%;
    }



    .footer-first :nth-child(2) {
        position: absolute;
        top: 41px;
        left: 0px;
    }

    .footer-second :nth-child(2) {
        position: absolute;
        top: 44px;
        left: 0px;
    }

    .footer-third :nth-child(2) {
        position: absolute;
        top: 26px;
        left: -2px;
    }

    .footer-fourth :nth-child(2) {
        position: absolute;
        top: 38px;
        left: -3px;
    }

    .registration img {
        position: absolute;
        left: 24px;
        width: 29%;
        top: 22px;
        background-image: url(../images/Barregis.png);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
    }

}

@media only screen and (max-width: 445px) {
    .container {
        width: 100%;
    }

    .registration img {
        position: absolute;
        left: 24px;
        top: 20px;
        background-image: url(../images/Barregis.png);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
    }
}