* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-sarif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: arial;
}

.container_whole {
    width: 100%;
}

.container {
    width: 1440px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

:root {
    --common-color: #d0c66d;
}

/* background: var(--common-color); */







/**
    media query css
*/
@media only screen and (max-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }

    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {

    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {

    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {

    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 445px) {
    .container {
        width: 100%;
    }
}